* {
  font-family: roboto;
  text-decoration: none;
}
body {
  font-family: roboto;
  margin: 0;
}
header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  align-items: center;
}
header .logo {
  font-size: 24px;
  color: #f9faf8;
}
header nav a {
  font-size: 18px;
  color: #e5e7eb;
  margin-left: 20px;
}
.hero {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  background-color: #1f2937;
}
.hero h1 {
  font-size: 48px;
  margin: 0 0 10px;
  font-weight: 900;
  color: #f9faf8;
}
.hero p {
  font-size: 18px;
  width: 300px;
  color: #e5e7eb;
}
.hero button {
  margin-top: 15px;
  background-color: #3882f6;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
}
.hero .image-placeholder {
  width: 300px;
  height: 150px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-section {
  text-align: center;
  padding: 50px 40px;
}
h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}
.info-boxes {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
.info-box {
  width: 120px;
  text-align: center;
}
.info-box .box-img {
  width: 120px;
  height: 120px;
  border: 3px solid #3882f6;
  border-radius: 10px;
}
.info-box p {
  margin-top: 10px;
}
.quote-section {
  background-color: #e5e7eb;
  padding: 80px 150px;
  font-style: italic;
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
}
.quote-section .author {
  text-align: right;
  font-weight: bold;
  margin-top: 20px;
  font-style: normal;
}
.cta-section {
  padding: 60px 80px;
  display: flex;
  justify-content: center;
}
.cta-box {
  background-color: #3882f6;
  color: white;
  padding: 30px 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.cta-box button {
  background: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  padding: 8px 20px;
}
footer {
  background-color: #1f2937;
  text-align: center;
  padding: 20px;
  font-size: 12px;
  color: white;
}
